# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most
# precedence.

* @Shaddoll @neil-xie @davidporter-id-au @Groxx @shijiesheng @agautam478 @jakobht @3vilhamster @sankari165 @dkrotx @taylanisikdemir @demirkayaender
