go 1.20

// This file is primarily for gopls and IDEs it supports, as it does not
// understand submodules correctly without it.
//
// It also slightly improves `go run` and `go test` behavior, as they work from
// the top level regardless of the target's submodule, but it isn't quite
// sufficient as things like `go build ./...` still do not recurse into submodules.
//
// Hence the Makefile's `make build` and `make tidy`, and changes to `make test`-alikes.
// Maybe we can remove those some day, but not currently at least.
//
// Anyway, add any new submodules to here, and make sure they're all using
// similar `replace repo => ../relative/path` replaces so it all stays compatible
// at all times during development time.

use (
	.
	./cmd/server
	./common/archiver/gcloud

// DO NOT include, tools dependencies are intentionally separate.
// ./internal/tools
)

// technically only a minimum version, but forced to be precise in makefile targets.
// must be kept in sync with docker files to avoid double-downloading.
//
// this should be safe to raise any time as it only impacts us, as this affects the
// Go version used to build within this workspace only, it does not affect dependencies.
// but note that it needs to be a version that docker + mac + linux all support, as
// they all must be in sync.
toolchain go1.22.3
