<ul>
  {% assign url_parts = page.url | split: '/' %}
  {% assign rm = url_parts | last %}
  {% assign base_url = page.url %}
  {% assign target_size = url_parts.size | minus: -2 %}
  {% if rm contains '.html' %}
    {% assign base_url = page.url | replace: rm | replace: '//', '/' %}
    {% assign target_size = url_parts.size | minus: -1 %}
  {% endif %}
  <p>base_url {{base_url}}</p>
  {% for item in site.html_pages | sort:"weight" %}
    {% if item.url contains base_url %}
      {% assign item_url_parts = item.url | split: '/' %}
      {% assign item_url_parts_size = item_url_parts | size %}
      {% assign filename = item_url_parts | last %}
      <p>filename {{filename}} target_size {{target_size}} item_url_parts_size {{item_url_parts_size}}</p>
      {% if target_size <= item_url_parts_size and filename != 'index.html' %}
        <li><a href='{{item.url}}'>{{item.title}}</a></li>
      {% endif %}
    {% endif %}
  {% endfor %}
</ul>