<ul>
  {% assign sorted_pages = site.html_pages | sort:"weight" %}
  {% for item in sorted_pages %}
    {% if item.url contains include.base_url %}
      {% assign item_url_parts = item.url | split: '/' %}
      {% if include.level == item_url_parts.size %}
        <li class="{% if page.url contains item.url %}active{% endif %} {% if page.url == item.url %}active-page{% endif %} {% if item.name == 'index.md' %}has-children{% endif %}">
          <a href='{{item.url | absolute_url}}'>{{item.title}}</a>
          {% assign next_level = include.level | minus: -1 %}
          {% if page.url contains item.url and next_level <= max_nav_level %}
            {% include nav.html level=next_level base_url=item.url %}
          {% endif %}
        </li>
      {% endif %}
    {% endif %}
  {% endfor %}
</ul>
