<header class="top-bar {{ page.layout }}">
  <div>
    <a href="/" class="logo">
      {% include logo.html %}
    </a>
    <nav>
      <div class="doc-search">
        <input type="search" placeholder="Search the Docs" />
        <ul class="search-results"></ul>
      </div>
      <a href="{{ "/docs" | absolute_url }}">Docs</a>
      <a href="https://github.com/uber/cadence">Source</a>
      <a class="join-slack" title="Join the Cadence Slack channel" href="https://join.slack.com/t/uber-cadence/shared_invite/enQtNDczNTgxMjYxNDEzLTI5Yzc5ODYwMjg1ZmI3NmRmMTU1MjQ0YzQyZDc5NzMwMmM0NjkzNDE5MmM0NzU5YTlhMmI4NzIzMDhiNzFjMDM">
        <svg class="slack"><use xlink:href="#icon-slack"></use></svg>
      </a>
    </nav>
  </div>
</header>
