<header class="top-bar {{ page.layout }}">
  <div>
    <a href="/" class="logo">
      {% include logo.html %}
    </a>
    <nav>
      <div class="doc-search">
        <input type="search" placeholder="Search the Docs" />
        <ul class="search-results"></ul>
      </div>
      <a href="{{ "/docs" | absolute_url }}">Docs</a>
      <a class="join-slack" title="Join the Cadence Slack channel" href="https://join.slack.com/t/uber-cadence/shared_invite/enQtNDczNTgxMjYxNDEzLTQyYjcxZDM2YTIxMTZkMzQ0NjgxYmI3OWY5ODhiOTliM2I5MzA4NTM4MjU4YzgzZDkwNGEzOTUzNTBlNDk3Yjc">
        <svg class="slack"><use xlink:href="#icon-slack"></use></svg>
      </a>
      <a class="github-link" title="Cadence server on GitHub" href="https://github.com/uber/cadence">
        <svg class="github"><use xlink:href="#icon-github"></use></svg>
      </a>
      <a class="docker-link" title="Cadence docker image on Docker Hub" href="https://hub.docker.com/r/ubercadence/server">
        <svg class="docker"><use xlink:href="#icon-docker"></use></svg>
      </a>
    </nav>
  </div>
</header>
