<header class="top-bar {{ page.layout }}">
  <div>
    <a href="/" class="logo">
      {% include logo.html %}
    </a>
    <nav>
      <div class="doc-search">
        <input type="search" placeholder="Search the Docs" />
        <ul class="search-results"></ul>
      </div>
      <a href="{{ "/docs" | absolute_url }}">Docs</a>
      <a href="https://github.com/uber/cadence">Source</a>
      <a href="https://join.slack.com/t/uber-cadence/shared_invite/enQtMzgwNjkzMzYwODE3LWQ3YjQxMmQwNmMwZDA1MzZlOTRhNzY0MzYzMDZhMWU2MTUxMWRhMzU3Y2JkN2NlYzU0MDEwYjkyMzg4ZmQ4OGM"
      style="padding-left:5px;padding-right:5px;padding-bottom:0px">
        <img src="assets/Slack_Mark_Monochrome_White.svg" style="width:1.2em;height:1.2em" alt="Slack icon" title="Join the Cadence Slack channel" />
      </a>
    </nav>
  </div>
</header>
