@import "./definitions.sass"


main.tour
  li
    list-style: initial
  ol
    li
      list-style-type: decimal
  pre, code
    overflow-x: scroll
  div.left-side
    height: 100%
  div.right-side
    height: 100%
