html {
  height: 100%;
}

body {
  height: 100%;
}

#app {
  height: 100%;
}

.theme-container {
  min-height: 100%;

  &:not(.no-sidebar) {
    background-color: white;
  }

  .sidebar-button {
    color: white;
  }
}

a {
  color: $uberBlue;
}

a.term {
  color: $uberBlue;
  font-style: italic;
}

dt.defined-term {
  color: $uberBlue !important;
}

.go-to-top {
  color: $uberBlue !important;
}

.text-align-center {
  text-align: center;
}