html {
  background-color: rgba(70,80,109,1);
  height: 100%;
}

body {
  background: linear-gradient(180deg, rgba(25,29,46,1) 0%, rgba(48,56,78,1) 35%, rgba(70,80,109,1) 100%);
  height: 100%;
}

#app {
  height: 100%;
}

.theme-container {
  min-height: 100%;

  &:not(.no-sidebar) {
    background-color: white;
  }

  .sidebar-button {
    color: white;
  }
}

a {
  color: $uberBlue;
}

a.term {
  color: $uberBlue;
  font-style: italic;
}

.go-to-top {
  color: $uberBlue !important;
}

.text-align-center {
  text-align: center;
}