a.term {
  color: inherit;
  cursor: help;
  font-style: italic;
  text-decoration-color: $uberBlue;
  text-decoration-line: underline;
  text-decoration-style: dashed;
  text-underline-position: under;

  &:hover {
    color: $uberBlue;
    text-decoration-color: $uberBlue;
    text-decoration-line: underline;
    text-decoration-style: dashed !important;
  }
}

dt.defined-term {
  color: $uberBlue !important;
}
