.grid {
  align-items: center;
  display: flex;
}

.grid-col-4 {
  flex: 4;
  padding: 0 20px;
}

.grid-col-6 {
  flex: 6;
  padding: 0 20px;
}

.grid-col-8 {
  flex: 8;
  padding: 0 20px;
}

@media (max-width: 719px) {
  .grid {
    display: block;
  }
}
