.navbar {
  background-color: $navColor;
  border-bottom: none;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);

  .sidebar-button {
    color: white;
  }

  a.external:hover {
    color: $uberBlue !important;
  }

  .links {
    background-color: transparent !important;
  }

  .site-name.can-hide {
    display: none;
  }

  .search-box {
    input {
      background-color: transparent !important;
      color: white !important;

      &:focus {
        border-color: $uberBlue;
      }
    }

    .suggestions {
      width: 280px;
    }

    .suggestion {
      &.focused a,
      &:hover a {
        color: #2c3e50;
      }

      a {
        color: #2c3e50;
      }

      .text--primary {
        color: $uberBlue;
      }
    }
  }

  .nav-dropdown {
    background-color: $navColor !important;
    border: 1px solid rgba(70,80,109,1) !important;

    a {
      &:hover,
      &.router-link-active {
        color: $uberBlue !important;
      }

      &:after {
        border-left-color: $uberBlue !important;
      }
    }
  }

  .nav-link {
    color: white;
  }

  .dropdown-title {
    color: white !important;
  }
}

@media (min-width: 719px) {
  .navbar {
    .nav-item > a:not(.external) {
      &:hover,
      &.router-link-active {
        color: white;
        border-bottom: 2px solid $uberBlue;
      }
    }

    .search-box {
      .suggestions {
        width: 600px;
      }
    }
  }
}
