.sidebar {
  .nav-links a {
    &:hover,
    &.router-link-active {
      color: $uberBlue;
    }
  }

  .sidebar-heading.clickable:hover {
    color: $uberBlue;
  }

  a.sidebar-link {
    &:hover {
      color: $uberBlue;
    }

    &.active {
      color: $uberBlue;
      border-left-color: $uberBlue;
    }
  }
}
