.split, .gutter.gutter-horizontal {
    float: left;
}
.gutter.gutter-horizontal {
    cursor: ew-resize;
}

#flex {
    display: flex;
    flex-direction: row;
}

#left-side {
    border-right: 2px solid darkgray;
    padding: 4px;
}

#right-side {
    border-left: 2px solid darkgray;
    padding: 4px;
}
