.split, .gutter.gutter-horizontal {
    float: left;
}
.gutter.gutter-horizontal {
    cursor: ew-resize;
}

#flex {
    display: flex;
    flex-direction: row;
    height: 100%;
}

#left-side {
    border: 1px solid darkgray;
    padding: 4px;
    overflow-y: auto;
}

#right-side {
    border: 1px solid darkgray;
    padding: 4px;
    overflow-y: auto;
}
