import (
    "context"

    "github.com/uber/cadence/common"
    "github.com/uber/cadence/common/cache"
    "github.com/uber/cadence/common/quotas"
    "github.com/uber/cadence/common/types"
    "github.com/uber/cadence/service/history"
    "github.com/uber/cadence/common/log"
)

{{ $ratelimitTypeMap := dict "StartWorkflowExecution" (
    dict
        "ratelimit" "ratelimitTypeUserPerID"
        "workflowID" "StartRequest.GetWorkflowID()"
    )
}}
{{ $ratelimitTypeMap := set $ratelimitTypeMap "SignalWithStartWorkflowExecution" (
    dict
        "ratelimit" "ratelimitTypeUserPerID"
        "workflowID" "SignalWithStartRequest.GetWorkflowID()"
    )
}}
{{ $ratelimitTypeMap := set $ratelimitTypeMap "SignalWorkflowExecution" (
    dict
        "ratelimit" "ratelimitTypeUserPerID"
        "workflowID" "SignalRequest.GetWorkflowExecution().GetWorkflowID()"
    )
}}
{{ $ratelimitTypeMap := set $ratelimitTypeMap "DescribeWorkflowExecution" (
    dict
        "ratelimit" "ratelimitTypeUserPerID"
        "workflowID" "Request.GetExecution().GetWorkflowID()"
    )
}}

{{ $interfaceName := .Interface.Name }}
{{ $handlerName := (index .Vars "handler") }}
{{ $decorator := (printf "%s%s" (down $handlerName) $interfaceName) }}
{{ $Decorator := (printf "%s%s" $handlerName $interfaceName) }}

// {{$decorator}} implements {{.Interface.Type}} interface instrumented with rate limiter.
type {{$decorator}} struct {
    wrapped                        {{.Interface.Type}}
    workflowIDCache                workflowcache.WFCache
    ratelimitExternalPerWorkflowID dynamicconfig.BoolPropertyFnWithDomainFilter
    domainCache                    cache.DomainCache
    logger                         log.Logger
    allowFunc                      func (domainID string, workflowID string) bool
}

// New{{$Decorator}} creates a new instance of {{$interfaceName}} with ratelimiter.
func New{{$Decorator}}(
    wrapped {{.Interface.Type}},
    workflowIDCache workflowcache.WFCache,
    ratelimitExternalPerWorkflowID dynamicconfig.BoolPropertyFnWithDomainFilter,
    domainCache cache.DomainCache,
    logger log.Logger,
) {{.Interface.Type}} {
    wrapper := &{{$decorator}}{
        wrapped: wrapped,
        workflowIDCache: workflowIDCache,
        ratelimitExternalPerWorkflowID: ratelimitExternalPerWorkflowID,
        domainCache: domainCache,
        logger: logger,
    }
    wrapper.allowFunc = wrapper.allowWfID

    return wrapper
}

{{range $method := .Interface.Methods}}
func (h *{{$decorator}}) {{$method.Declaration}} {
    {{- if hasKey $ratelimitTypeMap $method.Name }}
        {{- if eq
            ( get ( get $ratelimitTypeMap $method.Name ) "ratelimit" )
            "ratelimitTypeUserPerID"
        }}

            {{ $workflowID := ( get ( get $ratelimitTypeMap $method.Name ) "workflowID" ) }}
            {{ $req := (index $method.Params 1).Name }}

            if {{ $req }} == nil {
                err = validate.ErrRequestNotSet
                return
            }
            {{- $domainID := printf "%s.GetDomainUUID()" $req }}
            {{- $workflowID := printf "%s.%s" $req ( $workflowID ) }}

            if {{$domainID}} == "" {
                err = validate.ErrDomainNotSet
                return
            }

            if {{$workflowID}} == "" {
                err = validate.ErrWorkflowIDNotSet
                return
            }

            if !h.allowFunc({{$domainID}}, {{$workflowID}}) {
                err = &types.ServiceBusyError{
                    Message: "Too many requests for the workflow ID",
                    Reason: common.WorkflowIDRateLimitReason,
                }
                return
            }

        {{- end}}
    {{- end}}
    {{$method.Pass "h.wrapped."}}
}
{{end}}
