# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Testing and intermediate files
testcases/*.txt
!testcases/sqls*.txt
cadenceRef.go

.vscode
.DS_Store

# dependencies
vendor

# others
query_test.py
coverage.txt
